

#container {
    @include centered($layout-width);
    min-width: 385px;
    max-width: 1100px;
    position: relative;
    margin-bottom: 300px;

    #menu-container {
        /*
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 5px 5px #ccc;
        */
        width: 100%;
        background-color: #fff;
        margin: 0 $minimum-whitespace;
    }

    #content {
        margin: 3em $minimum-whitespace 0;

        @import "page_one";
    }

    #footer {
        margin: 50px $minimum-whitespace;
        font-weight: bold;
        font-size: 90%;
        color: #777;

        hr {
            margin-bottom: 1.5em;
        }

        a {
            text-decoration: underline;
            color: #777;
        }
    }
}
