

#container {
    @include centered($layout-width);
    min-width: 350px;
    max-width: 1100px;
    margin-bottom: 300px;

    #menu-container {
        width: 100%;
        background-color: #fff;
        margin: 0 $minimum-whitespace;
    }

    #content {
        margin: 3em $minimum-whitespace 0;

        .heading {
            margin-bottom: 3em;
            position: relative;
            h1, .slogan {
                font-size: 1.25em;
                line-height: 1.3em;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                background-color: #fff;
                padding: 0;
                padding-right: 1em;
                float: left;
                margin-top: 0;
                position: relative;
                z-index: 5;
            }
            .slogan {
                padding-left: 1em;
                padding-right: 0;
                float: right;
            }
            hr {
                top: 0.86em;
                position: absolute;
                z-index: 3;
                width: 100%;
            }
            @include clearfix();
        }
        
        @import "page_layouts";
    }

    #footer {
        margin: 50px $minimum-whitespace;
        font-weight: bold;
        font-size: 90%;
        color: #777;
        a {
            text-decoration: none;
            color: #777;
            &:hover {
                text-decoration: underline;
            }
        }

        .slogan {
            position: relative;
            text-align: center;
            margin-bottom: 2em;
            a {
                background-color: #fff;
                padding: 0 1em;
                position: relative;
                z-index: 15;
            }
            hr {
                position: absolute;
                top: 0.75em;
                width: 100%;
                z-index: 10;
            }
        }

        .thinkcamp {
            float: right;
            width: auto;
            margin-top: -0.75em;
            p {
                margin: 0;
            }
            a {
                line-height: 0;
                display: block;
            }
            img {
                width: 190px;
                height: auto;
            }
        }


    }
}


#notification {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 400px;
    height: 75px;
    padding: 20px;
    background-color: black;
    opacity: 0.75;
    color: #fff;
    z-index: 100;
    border-radius: 10px;
}