
$logo-height: 9vw;
$max-height: 130px;
$min-height: 58px;



#menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	padding-top: 30px;
	margin: 0 $minimum-whitespace;

	.logo {
		height: $logo-height;
		max-height: $max-height;
		min-height: $min-height;
		width: 1.4 * $logo-height;	// the symbols have an unified width
		max-width: 1.4 * $max-height;
		min-width: 1.4 * $min-height;
		line-height: 0;
		font-size: 0;
		background-size: auto 100%;	// match height!
		background-repeat: no-repeat;
		margin: 0 1vw;
		@include respond-to(handhelds) {
			margin: 0 1vw;
		}
		&:last-child, &:first-child {
			margin: 0;
		}
		background-position: center;
		&:first-child {
			background-position: left;
		}
		&:last-child {
			background-position: right;
		}
		&:hover {
			cursor: pointer;
		}
		&.unavision {
			background-image: url(../img/logos/unavision_symbol.png);
			&:hover, &.active {
				background-image: url(../img/logos/unavision.png);
				width: 2.6 * $logo-height;
				max-width: 2.6 * $max-height;
				min-width: 2.6 * $min-height;
			}
		}
		&.unaversity {
			background-image: url(../img/logos/unaversity_symbol.png);
			&:hover, &.active {
				background-image: url(../img/logos/unaversity.png);
				width: 2.83 * $logo-height;
				max-width: 2.83 * $max-height;
				min-width: 2.83 * $min-height;
			}
		}
		&.unavillage {
			background-image: url(../img/logos/unavillage_symbol.png);
			&:hover, &.active {
				background-image: url(../img/logos/unavillage.png);
				width: 2.73 * $logo-height;
				max-width: 2.73 * $max-height;
				min-width: 2.73 * $min-height;
			}
		}
	}
}

#submenu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	list-style: none;
	text-transform: uppercase;
	font-size: 1em;
	// reserve space for the items' margin
	width: 100%; // (instead $layout-width)
	margin: 1em 0 0;
	@include respond-to(handhelds) {
		font-size: 0.7em;
	}
	@include respond-to(medium-screens) {
		font-size: 0.8em;
	}



	li {
		margin: 0 1vw;
		&:first-child {
			margin-left: $minimum-whitespace;
		}
		&:last-child {
			margin-right: $minimum-whitespace;
		}
		letter-spacing: 0.08em;
		&.active {
			font-weight: bold;
			color: black;
		}

		a {
			text-decoration: none;
			font-weight: normal;
			&:hover {
				text-decoration: none;
				color: black;
			}
		}
	}
}



