

.theme-unavision {
    h1,h2,h3,em,.summary,.slogan,hr,.sidebar,a:not(.button) {
        color: $blue;
    }
    hr, .button {
        background-color: $blue;
    }
}
.theme-unaversity {
    #active.submenu li {
        a, span { color: $green; }
    }
    h1,h2,h3,em,.summary,.slogan,hr,.sidebar,a:not(.button) {
        color: $green;
    }
    hr, .button {
        background-color: $green;
    }
}
.theme-unavillage {
    .active.submenu li {
        a, span { color: $yellow; }
    }
    h1,h2,h3,em,.summary,.slogan,hr,.sidebar,a:not(.button) {
        color: $yellow;
    }
    hr, .button {
        background-color: $yellow;
    }
}
