

/* UnaVision Color scheme */
$blue	: #2387aa;
$green	: #6b8743;
$yellow	: #bea044;

/* general text coloring */
$text-color: #555;
$em-color: #333;


/* base layout & responsive sizing */

/* mini - midi - maxi screen layout base */
$maxi-width	: 1500px;
$midi-width	: 840px;
$mini-width	: 300px;

/* amount of space to reserve for scrollbars, lateral whitespace */
$scrollbar	: 17px;
$minimum-whitespace	: 20px;





@import "mixins";


/* basic styles */
* {
	margin: 0;
	padding: 0;
}


body {
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: $text-color;
	font-size: 14px;
}

p {
	margin-bottom: 0.6em;
	text-align: justify;
}

ul, ol {
	margin-bottom: 0.6em;
	margin-left: 1em;
}

em {
	color: $em-color;
	font-style: italic;
}

.summary {
	color: $blue;
	text-align: left;
	font-size: 110%;
	font-weight: bold;
}



.right  { text-align: right;  }
.center { text-align: center; }

.css-columns-2, .css-columns-3 {
	column-gap: 3em;
	width: 100%;
	margin-top: 2em;
	max-width: 1500px;

	h1, h2, h3 {
		column-span: all;
		-webkit-column-span: all;
		-webkit-column-break-after: avoid;
		break-after: avoid-column;
	}
	h2, h3 {
		column-span: 1;
		-webkit-column-span: 1;
	}

	div {
		margin-bottom: 2em;
	}
}
.css-columns-2 {
	column-count: 2;
	column-width: 20em;
}
.css-columns-3 {
	column-count: 3;
	column-width: 18em;
}


/* responsive iframes in a div.iframe-container */
.iframe-container {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
	margin-bottom: 1em;

	iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
	padding-top: 75%;
}




@import "layout";

/* importing styles section by section */

@import "menu";
