

/* UnaVision Color scheme */
$blue	: #2387aa;
$green	: #6b8743;
$yellow	: #bea044;


/* general text coloring */
$text-color: #444;
$em-color: #333;


/* base layout & responsive sizing */

/* mini - midi - maxi screen layout base */
$maxi-width	: 1500px;
$midi-width	: 840px;
$mini-width	: 300px;

/* amount of space to reserve for scrollbars, lateral whitespace */
$scrollbar	: 17px;
$layout-width: 80vw;
$minimum-whitespace	: 2vw;	// whitespace on both sides





@import "mixins";


/* basic styles */
* {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Assistant', Verdana, Helvetica, Arial, Sans-Serif;
	color: $text-color;
	font-size: 110%;

	/*
	// breakpoint debugging styles
	@include respond-to(medium-screens) {
		background-color: #9FBAED;
	}
	@include respond-to(handhelds) {
		background-color: #e4b9b9;
	}
	*/
}

h1 {
	font-size: 1.25em;
	letter-spacing: 0.08em;
}
h2 {
	font-size: 1em;
}
h1,h2 {
	margin: 1em 0 0.6em;
	text-align: left;
	line-height: 1.7em;
}

p {
	margin-bottom: 0.6em;
	text-align: left;
	line-height: 1.7em;
}

ul, ol {
	margin-bottom: 0.6em;
	margin-left: 1em;
	li {
		line-height: 1.7em;
		margin-bottom: 0.3em;
	}
}

em {
	color: $em-color;
	font-style: italic;
}

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

hr {
	height: 3px;
	color: $text-color;
	border: none;
	margin: 0;
}

.summary {
	color: $blue;
	text-align: left;
	font-size: 110%;
	font-weight: bold;
}



.right  { text-align: right;  }
.center { text-align: center; }

.css-columns-2, .css-columns-3 {
	column-gap: 3em;
	width: 100%;
	margin-top: 2em;
	max-width: 1500px;

	h1, h2, h3 {
		column-span: all;
		-webkit-column-span: all;
		-webkit-column-break-after: avoid;
		break-after: avoid-column;
	}
	h2, h3 {
		column-span: 1;
		-webkit-column-span: 1;
	}
	p {
		text-align: justify;
	}
	div {
		margin-bottom: 2em;
		display: inline-block;
	}
}
.css-columns-2 {
	column-count: 2;
	column-width: 20em;
}
.css-columns-3 {
	column-count: 3;
	column-width: 18em;
}




/* responsive iframes in a div.iframe-container */
.iframe-container {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
	margin-bottom: 1em;

	iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
	padding-top: 75%;
}




@import "layout";

@import "menu";

@import "theming";
