/* UnaVision Color scheme */
/* general text formatting */
/* base layout & responsive sizing */
/* amount of space to reserve for scrollbars, lateral whitespace */
/* breakpoint definition - use this mixin where appropriate */
/* basic styles */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Assistant', Verdana, Helvetica, Arial, Sans-Serif;
  color: #000; }

h1 {
  font-size: 1.25em;
  letter-spacing: 0.08em;
  font-weight: normal; }

h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0 0em;
  text-align: left;
  line-height: 1.7em; }

h3 {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin: 1em 0 0em; }

h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0; }

p {
  margin-bottom: 1.2em;
  text-align: left;
  line-height: 1.7em; }

ul, ol {
  margin-bottom: 0.6em;
  margin-left: 1em; }
  ul li, ol li {
    line-height: 1.7em;
    margin-bottom: 0.3em; }

img {
  outline: none; }

em {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-style: normal; }

a {
  color: #2387aa;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.button {
  display: block;
  text-decoration: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 3px solid transparent;
  text-align: center;
  background-color: #2387aa;
  color: #fff;
  font-weight: bold;
  margin: 3em 0; }
  .button:hover {
    border: 3px solid #ddd;
    text-decoration: none; }
  .button a:hover {
    text-decoration: none; }

hr {
  height: 2px;
  color: #000;
  border: none;
  margin: 0; }

.summary {
  color: #2387aa;
  text-align: left;
  font-size: 110%;
  font-weight: bold; }

/* language selector */
.language {
  font-weight: bold;
  padding-bottom: 2px; }
  .language span {
    font-size: 75%;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline; }
    .language span:hover, .language span.active {
      font-weight: normal; }
    .language span.active {
      cursor: default;
      text-decoration: none; }

.right {
  text-align: right; }

.center {
  text-align: center; }

#container {
  width: 80vw;
  margin: 0 auto;
  padding: 0;
  min-width: 350px;
  max-width: 1100px;
  margin-bottom: 300px; }
  #container #menu-container {
    width: 100%;
    background-color: #fff;
    margin: 0 2vw; }
  #container #content {
    margin: 0 2vw 0;
    /* narrow column with sidebar menu */
    /* responsive iframes in a div.iframe-container */
    /* 4x3 Aspect Ratio */ }
    #container #content .heading {
      margin-bottom: 3em;
      position: relative; }
      #container #content .heading h1, #container #content .heading .slogan {
        font-size: 1.25em;
        line-height: 1.3em;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        background-color: #fff;
        padding: 0;
        padding-right: 1em;
        float: left;
        margin-top: 0;
        position: relative;
        z-index: 5; }
      #container #content .heading .slogan {
        padding-left: 1em;
        padding-right: 0;
        float: right; }
      #container #content .heading hr {
        top: 0.86em;
        position: absolute;
        z-index: 3;
        width: 100%; }
      @media only screen and (max-width: 32em) {
        #container #content .heading h1, #container #content .heading .slogan {
          font-size: 1em; } }
      #container #content .heading::after {
        content: "";
        clear: both;
        display: table; }
    #container #content .text-column {
      width: 60%;
      margin: 0 auto;
      padding: 0;
      max-width: 800px;
      min-width: 300px; }
      #container #content .text-column p {
        text-align: left; }
      #container #content .text-column h2 {
        clear: left; }
      @media only screen and (max-width: 60em) {
        #container #content .text-column {
          width: 80%;
          margin: 0 auto;
          padding: 0; } }
      @media only screen and (max-width: 32em) {
        #container #content .text-column {
          width: 100%;
          margin: 0; } }
    #container #content .flex-columns {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 80%;
      margin: 0 auto;
      padding: 0; }
      #container #content .flex-columns .sidebar {
        margin-right: 3em;
        margin-bottom: 2em;
        font-size: 1.25em; }
        #container #content .flex-columns .sidebar ul {
          list-style: none;
          margin-left: 0; }
          #container #content .flex-columns .sidebar ul li {
            font-weight: normal;
            text-transform: uppercase;
            cursor: pointer; }
            #container #content .flex-columns .sidebar ul li:hover {
              text-decoration: underline; }
            #container #content .flex-columns .sidebar ul li.active {
              font-weight: bold;
              text-decoration: none;
              cursor: default; }
            #container #content .flex-columns .sidebar ul li a {
              font-weight: normal; }
              #container #content .flex-columns .sidebar ul li a:hover {
                color: inherit; }
      #container #content .flex-columns .main-column {
        width: 60%; }
      #container #content .flex-columns .text-column {
        margin: 0;
        width: unset; }
      @media only screen and (max-width: 60em) {
        #container #content .flex-columns {
          width: 100%;
          margin: 0; }
          #container #content .flex-columns .main-column .text-column {
            width: auto;
            flex: 1; } }
      @media only screen and (max-width: 32em) {
        #container #content .flex-columns .sidebar {
          display: none; }
        #container #content .flex-columns .main-column {
          width: 100%; }
          #container #content .flex-columns .main-column .text-column {
            width: 100%; } }
      #container #content .flex-columns.narrow {
        width: 60%;
        margin: 0 auto;
        padding: 0;
        flex-wrap: nowrap;
        max-width: 800px;
        min-width: 300px; }
        @media only screen and (max-width: 60em) {
          #container #content .flex-columns.narrow {
            width: 85%;
            margin: 0 auto;
            padding: 0; } }
        @media only screen and (max-width: 32em) {
          #container #content .flex-columns.narrow {
            margin: 0;
            width: 100%; }
            #container #content .flex-columns.narrow .sidebar {
              margin-right: 1em; }
            #container #content .flex-columns.narrow .text-column {
              min-width: initial; } }
    #container #content .css-columns-2, #container #content .css-columns-3 {
      column-gap: 3em;
      width: 100%;
      margin-top: 2em;
      max-width: 1500px; }
      #container #content .css-columns-2 h1, #container #content .css-columns-2 h2, #container #content .css-columns-2 h3, #container #content .css-columns-3 h1, #container #content .css-columns-3 h2, #container #content .css-columns-3 h3 {
        column-span: all;
        -webkit-column-span: all;
        -webkit-column-break-after: avoid;
        break-after: avoid-column;
        margin-top: 0; }
      #container #content .css-columns-2 h2, #container #content .css-columns-2 h3, #container #content .css-columns-3 h2, #container #content .css-columns-3 h3 {
        column-span: 1;
        -webkit-column-span: 1; }
      #container #content .css-columns-2 p, #container #content .css-columns-3 p {
        text-align: justify; }
      #container #content .css-columns-2 div, #container #content .css-columns-3 div {
        margin-bottom: 2em;
        display: inline-block; }
    #container #content .css-columns-2 {
      column-count: 2;
      column-width: 20em; }
    #container #content .css-columns-3 {
      column-count: 3;
      column-width: 18em; }
    #container #content #map {
      width: 100%;
      height: 80vh;
      outline: none; }
      #container #content #map .mapboxgl-canvas-container {
        outline: none; }
      #container #content #map .mapbox-improve-map {
        display: none; }
    #container #content .marker {
      display: block;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      padding: 0;
      width: 10px;
      height: 10px; }
      #container #content .marker.existing {
        background-color: #bea044; }
      #container #content .marker.founding {
        background-color: #bea044;
        opacity: 0.5; }
    #container #content .mapboxgl-popup {
      max-width: 400px; }
    #container #content .iframe-container {
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
      margin-bottom: 1em; }
      #container #content .iframe-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
    #container #content .iframe-container-4x3 {
      padding-top: 75%; }
    #container #content .illustration {
      width: 100%;
      margin: 4em 0 2em; }
      #container #content .illustration img {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
        display: block; }
  #container #footer {
    margin: 50px 2vw;
    font-weight: bold;
    font-size: 90%; }
    #container #footer a {
      text-decoration: none;
      color: #000; }
      #container #footer a:hover {
        text-decoration: underline; }
    #container #footer .slogan {
      position: relative;
      text-align: center;
      margin-bottom: 1.5em; }
      #container #footer .slogan a {
        background-color: #fff;
        padding: 0 1em;
        position: relative;
        z-index: 15; }
      #container #footer .slogan hr {
        position: absolute;
        top: 0.75em;
        width: 100%;
        z-index: 10; }
    #container #footer > hr {
      margin-bottom: 2em; }
      #container #footer > hr:last-child {
        clear: both; }
    #container #footer ul {
      list-style: none;
      margin: 0 2em 2em 0;
      float: left; }
    #container #footer .address {
      float: right;
      margin-bottom: 2em;
      margin-left: 3em; }
      #container #footer .address p {
        margin: 0; }
    @media only screen and (max-width: 32em) {
      #container #footer ul, #container #footer .address {
        margin: 0 0 2em; } }
    #container #footer .thinkcamp {
      margin: 0 auto 2em;
      width: 190px; }
      #container #footer .thinkcamp p {
        margin: 0;
        text-align: center; }
      #container #footer .thinkcamp a {
        line-height: 0; }
      #container #footer .thinkcamp img {
        width: 190px;
        height: auto; }

#notification {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 400px;
  height: 75px;
  padding: 20px;
  background-color: black;
  opacity: 0.75;
  color: #fff;
  z-index: 100;
  border-radius: 10px; }

#primary_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 30px;
  margin: 0 2vw; }
  #primary_menu .logo {
    height: 9vw;
    max-height: 130px;
    min-height: 58px;
    width: 12.6vw;
    max-width: 182px;
    min-width: 81.2px;
    line-height: 0;
    font-size: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 0 1vw;
    background-position: center; }
    @media only screen and (max-width: 32em) {
      #primary_menu .logo {
        margin: 0 1vw; } }
    #primary_menu .logo:last-child, #primary_menu .logo:first-child {
      margin: 0; }
    #primary_menu .logo:first-child {
      background-position: left; }
    #primary_menu .logo:last-child {
      background-position: right; }
    #primary_menu .logo:hover {
      cursor: pointer; }
    #primary_menu .logo.unavision {
      background-image: url(../img/logos/unavision_symbol.png); }
      #primary_menu .logo.unavision:hover, #primary_menu .logo.unavision.active {
        background-image: url(../img/logos/unavision.png);
        width: 23.4vw;
        max-width: 338px;
        min-width: 150.8px; }
    #primary_menu .logo.unaversity {
      background-image: url(../img/logos/unaversity_symbol.png); }
      #primary_menu .logo.unaversity:hover, #primary_menu .logo.unaversity.active {
        background-image: url(../img/logos/unaversity.png);
        width: 25.47vw;
        max-width: 367.9px;
        min-width: 164.14px; }
    #primary_menu .logo.unavillage {
      background-image: url(../img/logos/unavillage_symbol.png); }
      #primary_menu .logo.unavillage:hover, #primary_menu .logo.unavillage.active {
        background-image: url(../img/logos/unavillage.png);
        width: 24.57vw;
        max-width: 354.9px;
        min-width: 158.34px; }

.submenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  list-style: none;
  text-transform: uppercase;
  font-size: 1em;
  width: 100%;
  margin: 0;
  padding: 43px 0 3em; }
  @media only screen and (max-width: 32em) {
    .submenu {
      font-size: 0.7em; } }
  @media only screen and (max-width: 60em) {
    .submenu {
      font-size: 0.8em; } }
  .submenu.unavision li a, .submenu.unavision li span {
    color: #2387aa; }
  .submenu.unaversity li a, .submenu.unaversity li span {
    color: #6b8743; }
  .submenu.unavillage li a, .submenu.unavillage li span {
    color: #bea044; }
  .submenu li {
    margin: 0 1vw;
    letter-spacing: 0.08em; }
    .submenu li:first-child {
      margin-left: 2vw; }
    .submenu li:last-child {
      margin-right: 2vw; }
    .submenu li.active {
      font-weight: bold;
      color: black; }
    .submenu li a {
      text-decoration: none; }
      .submenu li a:hover {
        text-decoration: none;
        color: black; }

.theme-unavision h1, .theme-unavision h2, .theme-unavision h3, .theme-unavision em, .theme-unavision .summary, .theme-unavision .slogan, .theme-unavision hr, .theme-unavision .sidebar, .theme-unavision a:not(.button) {
  color: #2387aa; }
.theme-unavision hr, .theme-unavision .button {
  background-color: #2387aa; }

.theme-unaversity #active.submenu li a, .theme-unaversity #active.submenu li span {
  color: #6b8743; }
.theme-unaversity h1, .theme-unaversity h2, .theme-unaversity h3, .theme-unaversity em, .theme-unaversity .summary, .theme-unaversity .slogan, .theme-unaversity hr, .theme-unaversity .sidebar, .theme-unaversity a:not(.button) {
  color: #6b8743; }
.theme-unaversity hr, .theme-unaversity .button {
  background-color: #6b8743; }

.theme-unavillage .active.submenu li a, .theme-unavillage .active.submenu li span {
  color: #bea044; }
.theme-unavillage h1, .theme-unavillage h2, .theme-unavillage h3, .theme-unavillage em, .theme-unavillage .summary, .theme-unavillage .slogan, .theme-unavillage hr, .theme-unavillage .sidebar, .theme-unavillage a:not(.button) {
  color: #bea044; }
.theme-unavillage hr, .theme-unavillage .button {
  background-color: #bea044; }

/*# sourceMappingURL=styles.css.map */
